build/
*.pid
jmeter.log
coverage.txt
coverage.html
_test
vendor
.idea
*.iml
*.out
.env
*.log
.DS_STORE
.phpintel
tmp
main
jobs/main
main
cv-auth
*.pids
circleci
*.log.gz
sqlite.db
*.tar.gz
assets/
assets_testing/
!assets/.gitkeep
tmp.json
docs/themes/
docs/public/
docs/.hugo_build.lock
