build/
*.pid
jmeter.log
coverage.txt
coverage.html
_test
vendor
.idea
*.iml
*.out
.env
*.log
.DS_STORE
.phpintel
tmp
main
jobs/main
main
*.pids
circleci
*.log.gz
sqlite.db
*.tar.gz
assets/
assets_testing/
!assets/.gitkeep
tmp.json
docs/themes/
docs/public/
docs/.hugo_build.lock
.db-journal


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
