@import "~bulma/css/bulma.css";
html {
    background-color: rgb(49, 46, 46);
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #d5dfe8;
    margin-top: 60px;
}
footer {
  margin-top: 150px;
}
input:hover, textarea:hover, select:hover {
  border: 2px solid #97999f;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #93bee8 !important;
}
a {
  font-size: 0.9em;
  color: #8c9de9;
}
a:hover {
  text-decoration: underline;
  color: #8c9de9;
}
h1 {
  font-size: 32px;
}
.container{
    max-width: 100vw;
}
/* placing it below to not break global css */
/* TODO: move this to HEAD of LINK in _app.tsx */
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto:400,700");
